/* .fade-enter {
  opacity: 0;
  z-index: 1;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 250ms ease-in;
}

.test-enter {
  left: -100%;
  z-index: 1;
}

.test-enter.test-enter-active {
  left: 0;
  transition: left 1000ms ease-in;
}

.test-exit {
  left: 100%;
  z-index: 1;
}

.test-exit.text-exit-active {
  left: 100%;
  transition: left 1000ms ease-in;
} */
